{% extends 'main/layout.html' %}
{% load static %}


{% block content%}



</div>


<div class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<ul class="page-header-breadcrumb">
					<li><a href="index.html">Home</a></li>
					<li>Contact</li>
				</ul>
				<h1>Contact</h1>
			</div>
		</div>
	</div>
</div>

</header>


<div class="section">

	<div class="container">

		<div class="row">
			<div class="col-md-6">
				<div class="section-row">
					<h3>Contact Information</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
						laboris nisi ut aliquip ex ea commodo consequat.</p>
					<ul class="list-style">
						<li>
							<p><strong>Email:</strong> <a href="#"><span class="_cf_email_"
										data-cfemail="471022252a262007222a262e2b6924282a">[email&#160;protected]</span></a>
							</p>
						</li>
						<li>
							<p><strong>Phone:</strong> 213-520-7376</p>
						</li>
						<li>
							<p><strong>Address:</strong> 3770 Oliver Street</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-5 col-md-offset-1">
				<div class="section-row">
					<h3>Send A Message</h3>
					<form action="{% url 'send__mail' %}" method="post">
						{% csrf_token %}
			
						<div>
						  <input type="text" placeholder="Text" name="text" />
						</div>
						<div>
						  <input type="email" placeholder="Email" name="email"/>
						</div>
						<div>
						  <input type="text" placeholder="Subject" name="subject"/>
						</div>
						
						<div class="d-flex ">
						  <button>
							SEND
						  </button>
			
						</div>
			
					</form>
				</div>
			</div>
		</div>

	</div>

</div>


{% endblock %}