{% extends 'main/layout.html' %}

{% block content %}


{% block search %}{% endblock search %}
    

<br><br><br>








<div class="container">
<br><br>

   <form action="{% url 'telefon' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <input type="text" name="model">
    <br>

    <input type="text" name="ram">

    <br>
    <input type="file" name="foto">
    <br><br>
    <button type="submit" >Daxil et</button>


   </form>
    

<br><br>
<div class="alert alert-info">Bazada {{ say }} melumat var</div>




<table class="table table-hover ">


    <thead class="thead-dark">

        <tr>
            
 
            <th>N</th>
          
            <th>Model</th>
            <th>Ram</th>
            <th>Foto</th>
            <th></th>


        </tr>

    </thead>

   
    
    {% for x in data   %}

    <tbody>


        <tr>
           
          
            <td>{{ forloop.counter }}</td>

            <td>
                <a  href="{% url 'etrafli' x.id %}">{{ x.model}}</a>
            </td>

            <td>{{ x.ram }}</td>
            <td>
                <img src="{{ x.img }}" style="height: 150px ; width:180px ;">
            </td>
           
            <td>

                <a  class ="btn btn-primary btn-md" href="{% url 'etrafli' x.id %}"><i class="bi bi-eye-fill"></i></a>

            </td>
   

        </tr>

    </tbody>


    {% endfor %}


</table>

</form>








</div>





{% endblock %}